.catalog {
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.catalog-content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.filters {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 70px;
}

.filters-item {
    display: flex;
    column-gap: 6px;
}

.catalog-products {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
}

.catalog-products-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.product {
    width: 340px;
    height: 400px;
    background-color: #C0C0C0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-text {
    transition: color 0.3s ease;
}
