.cover {
    display: flex;
    justify-content: center;
    background-image: url(/images/index-img/cover.png);
    width: 100vw;
    max-width: 100%;
    height: 1127px;
    background-size: cover;
    margin-top: 30px;
}

.cover-content {
    display: flex;
    justify-content: end;
    align-items: center;
}

.cover-product {
    width: 539px;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 40px;
}

.cover-product-name {
    font-size: 40px;
    font-weight: bold;
}

.cover-product-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.cover-product-price {
    font-size: 36px;
    font-weight: 400;
}

.cover-product-description {
    font-size: 22px;
    margin-top: 15px;
}

.cover-product-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 62px;
    background-color: black;
    color: rgb(217, 217, 217);
    font-weight: 400;
    font-size: 30px;
    padding: 0px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.cover-product-btn:hover {
    background-color: #333;
    transition: 0.2s;
}

.cover-product-btn:active {
    background-color: #222;
    transition: 0.2s;
}

.hits {
    margin-top: 170px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hits-content {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

.main-hit {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.minor-hit {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.minor-hit-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main-hit-product {
    height: 850px;
    width: 850px;
    background-color: #C0C0C0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-bag-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0%);
    border: 1px solid black;
    transition: 0.2s;
    cursor: pointer;
}

.add-to-bag-btn:hover {
    background-color: rgba(0, 0, 0, 10%);
    transition: 0.2s;
}

.add-to-bag-btn:active {
    background-color: rgba(0, 0, 0, 5%);
    transition: 0.2s;
}

.add-to-bag-img {
    width: 40px;
    height: 40px;
}

.product-price {
    font-size: 20px
}

.minor-hit-product {
    width: 390px;
    height: 390px;
    background-color: #C0C0C0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hits-more {
    align-self: flex-start;
    margin-left: 90px;
    margin-top: 10px;
}

.hits-more-text {
    font-weight: 300;
}

.about-us {
    margin-top: 120px;
    background-image: url(/images/index-img/about-us.png);
    width: 100vw;
    max-width: 100%;
    background-size: cover;
    background-color: #F7F7F7;
    height: 741px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-content {
    display: flex;
    align-items: center;
    justify-content: end;
}

.about-us-block {
    width: 660px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.pay-and-delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.pay-and-delivery-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 43px;
    column-gap: 45px;
}
.pay-and-delivery-block{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.pay-and-delivery-block-item{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.contacts {
    margin-top: 120px;
    width: 100vw;
    max-width: 100%;
    background-size: cover;
    background-color: #F7F7F7;
    /* height: 574px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 42px;
}

.contacts-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}
.contacts-text-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts-info{
    font-size: 24px;
}