@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 22px;
    margin: 0px;
    /* text-decoration: none; */
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    width: 1440px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: #EEEEEE;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    z-index: 3;
    transition: padding 0.3s ease;
    row-gap: 10px;

}

.shrink-header {
    padding: 15px 0;
}

.nav-local {
    display: flex;
    column-gap: 10px;
    transition: opacity 0.5s ease, transform 0.5s ease, display .5s ease;
    /* opacity: 1; */
}

.hide {
    /* opacity: 0;
    transform: translateY(-20px); */
    /* pointer-events: none; */
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-item {
    font-weight: 300;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
}


.navimg {
    display: flex;
    gap: 15px;
}

.navimg-item {
    height: 50px;
    width: 50px;
    cursor: pointer
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.25);
    /* backdrop-filter: blur(10px); */
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contacts{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.footer-nav {
    display: flex;
    column-gap: 20px;
}
.footer-nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
}
.footer-nav-menu-item{
    font-size: 18px;
    font-weight: 300;
}
a.no-dec{
    text-decoration: none;
}

.hits {
    margin-top: 235px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hits-content {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

.main-hit {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.minor-hit {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}

.minor-hit-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.main-hit-product {
    height: 850px;
    width: 850px;
    background-color: #C0C0C0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-bag-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0%);
    border: 1px solid black;
    transition: 0.2s;
    cursor: pointer;
}

.add-to-bag-btn:hover {
    background-color: rgba(0, 0, 0, 15%);
    transition: 0.2s;
}

.add-to-bag-btn:active {
    background-color: rgba(0, 0, 0, 5%);
    transition: 0.2s;
}

.add-to-bag-img {
    width: 40px;
    height: 40px;
}

.product-price {
    font-size: 20px
}

.minor-hit-product {
    width: 390px;
    height: 390px;
    background-color: #C0C0C0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hits-more {
    align-self: flex-start;
    margin-left: 90px;
    margin-top: 10px;
}

.hits-more-text {
    font-weight: 300;
}

.main-hit-product:hover, .minor-hit-product:hover, .product:hover {
    background-color: #b5b5b5;
    transition: 0.2s;
}
