@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 22px;
    margin: 0px;
    /* text-decoration: none; */
}


.container {
    width: 1440px;
}

h2 {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: #EEEEEE;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    z-index: 3;
    transition: transform .2s linear;

}

.header.hide{
    transform: translateY(-125px);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-item {
    font-weight: 300;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
}


.navimg {
    display: flex;
    gap: 15px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}