@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 22px;
    margin: 0px;
    text-decoration: none;
}

.container {
    width: 1440px;
}

h2 {
    font-size: 42px;
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125px;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-item {
    font-weight: 300;
    padding: 8px 16px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    border-radius: 20px;
}

.navimg {
    display: flex;
    gap: 15px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}